.header {
  height: 1100px;
  width: 1200px;
  margin: auto;
  border-radius: 50px;

  background-color: darkblue;
  text-align: center;
}
.colorN {
  color: white;
}
.cardArr {
  height: 350px;
  color: white;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  font-weight: bold;
}
